<h1>About Blocipedia</h1>
<p>Blocipedia is an app, it  provides platform  to create content and collaborate with  team members. It allows content owners to add and remove collaborators, make wikis private or public based on the plan they are in.</p>
