<br/>
<br/>
<div class="container">
  <div class="jumbotran">
    <h1>  Blocipedia: Social, Markdown Wikis </h1>
  </div><br> <br>

  <div class="center-table">
    <h2> Create and share  Markdown wikis </h2>
    <%= link_to "Sign up", new_user_registration_path %>

  </div>  

  <div class="row" id="wrapper">
    <div class="col-md-4" id="left">
      <h3>Create as many public wikis you want! </h3>
      <a href="#" class="btn btn-default btn-lg active" role="button">Free Plan</a>
    </div>

    <div class="col-md-4" id="right">
      <h3> Create private wikis!</h3>
      <a href="#" class="btn btn-default btn-lg active" role="button"> Premium Plan </a>
    </div>  
      
  </div>  

</div>    